{%extends 'layout.html' %}

{% block body %}

<div class='container'  id='full'>
    <div class="center-align" id='full'>
        <div class="col s12 m4 l8 valign-wrapper" id='full'>
            <div class="card">
                <div class="card-image valign-wrapper">
                    <img src="static/Spotify_Logo_RGB_Green.png">
                </div>
                <div class="card-content">
                    <h3>Please login with Spotify to continue.</h3>
                </div>
                <div class="card-action">
                    <h5><a href={{url}}>Login</a></h5
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock%}
